body {
  background-color: #fdf3ec;
}

h1 {
  border-style: inset;
  border-width: 5px;
  border-color: #422008;
  background-color: #422008;
  color: #fdf3ec;
  font-family: "EB Garamond", serif;
}

h2 {
  color: #8a4417;
}

h3 {
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  color: #fdf3ec;
  border-color: #ed762f;
  background-color: #ed762f;
}

p {
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #f8dac1;
  background-color: #f8dac1;
  color: #422008;
}

h4 {
  color: #8a4417;
}
