body {
  background: #eef5fd;
 /* background: linear-gradient(#fdf3ec, #FF9D68); */


.h1 {
  color: #eef5fd;
  font-family: Garamond, Georgia, serif;
  font-size: 55px;
  font-weight: bold;

  /*border-style: solid;
  border-width: 5px;
  border-color: #0e2441;*/
  background-color: #0e2441;

  width: 100vw;
  top: 0px;

  text-align: center;
  align-items: center;
}

.h2 {
  color: #204985;

  font-family: Verdana, serif;
  font-size: 35px;
  text-align: center;
}

.button {
  color: #eef5fd;

  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #3a7ce6;
  background-color: #3a7ce6;
  cursor: pointer;

  font-size: 20px;
  font-family: Verdana, serif;
  width: 20vw;

}

.button:hover
{
  background: #326ece;
  border-color: #326ece;
  border-width: 4px;
  border-radius: 5px;
  border-style: solid;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #c8ddf8;
  border-style: solid;
  border-width: 20px;
  border-color: #c8ddf8;
  justify-content: space-between;
}

.img1 {
 /* float: right; */
  margin-left: 15px;
/* position: absolute; */
}

.textandimgflex {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 5px;
}

.p1 {
  margin-right: 15px;
  
  color: #0e2340;
  font-size: 20px;

  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #c8ddf8;
  background-color: #c8ddf8;

  font-family: Verdana, serif;
  height: 500px;
  width: 500px;
  overflow: scroll;
}

.p2 {
  color: #eef5fd;

  font-family: Verdana, serif;
  text-align: center;
  font-size: 9px;
}

h4 {
  color: #eef5fd;

  font-family: Verdana, serif;
  text-align: center;
  font-size: 9px;
}

.strongcolorchange {
  color: #3a7ce6;
}

/* contains **everything** on the page, this is here so that the children's positioning aren't affected by other elements/viewport, i think */
#wholepgcontain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* leaving space for the footer in case content doesn't fill up the page, allows for footer to be seen when the viewport is only 100% due to small content */
/* includes content that is NOT the footer and adds some space for the footer just in case as stated above */
#contentcontain {
  width:100%;
  max-width: 1366px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer is pushed to the bottom of pgcontain */
#main-container footer {
  display: flex;
  width: 100%;

  height:300px;
  border-style: solid;
  border-width: 1px;
  background-color: #0e2441;

  align-items: center;
  justify-content: center;

}


