body {
  background: #fdf3ec;
  background: linear-gradient(#fdf3ec, #FF9D68);


h1 {
  color: #fdf3ec;
  font-family: Garamond, Georgia, serif;
  font-size: 45px;
  font-weight: bold;

  border-style: solid;
  border-width: 5px;
  border-color: #422008;
  background-color: #422008;

  text-align: center;
}

h2 {
  color: #8a4417;

  font-family: Verdana, serif;
  font-size: 35px;
}

.button {
  color: #fdf3ec;

  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #ed762f;
  background-color: #ed762f;
  cursor: pointer;

  font-size: 25px;
  font-family: Verdana, serif;

}

.button:hover
{
  background: #d5611c;
  border-color: #d5611c;
  border-width: 4px;
  border-radius: 5px;
  border-style: solid;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  background-color: #FFD9BD;
  border-width: 5px;
  border-color: #FFD9BD;
}

.img1 {
  float: right;
  margin-left: 10px;
}

.p1 {
  color: #422008;
  font-size: 20px;

  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #f8dac1;
  background-color: #f8dac1;

  font-family: Verdana, serif;
  height: 500px;
  width: 500px;
  overflow: scroll;
}

.p2 {
  color: #fdf3ec;

  font-family: Verdana, serif;
  text-align: center;
  font-size: 16px;
}

h4 {
  color: #fdf3ec;

  font-family: Verdana, serif;
  text-align: center;
  font-size: 16px;
}

.strongcolorchange {
  color: #ed762f;
}

.bottomflex {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 150px;
  border: none;
  background-color: #422008;
}
